/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
input, textarea, select, button {
	border: none;
	background-color: transparent;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*ajout de css*/
.fa-regular {
	font-weight: 700;
}
.icon-edit {
	width: 7px;
	position: absolute;
	left: 35px;
	top: 8px;
}
.edit-button {
	width: 132px;
	height: 32px;
	position: absolute;
	font-family: 'Work Sans';
	border: none;
	cursor: pointer;
	text-align: end;
	background-color: transparent;
	font-size: 16px;
	font-weight: 300;
}
.editIcon {
	color: black;
	position: absolute;
	left: 40px;
	font-weight: 500;
}

.photo-gallery {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000; 
}
#filters-container {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 18px;
}
.category {
	border: 1px solid #1D6154;
	border-radius: 15px;
	height: 35px;
	background-color: white;
	font-weight: 600;
	color: #1D6154;
	font-family:'Work Sans';
	display: flex;
	align-items: center;
}
.category:hover {
	background-color: #1D6154;
	color: white;
}
.active {
	background-color: #1D6154;
}
.category.active {
    font-weight: bold;
    color: white;
}
#login {
	height: 680px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;
	background-color: #FFFEF8;
}

.loginForm {
	height: 58%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
}
.email {
	width: 35%;
	height: 55px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
#email {
	height: 30px;
	border: none;
	box-shadow: 0px 0px 15px -12px;
}
.titleEmail {
	display: flex;
}
.password {
	width: 35%;
	height: 55px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
#password {
	height: 30px;
	border: none;
	box-shadow: 0px 0px 15px -12px;
}
.titlePassword {
	display: flex;
}
.btnLogin {
	width: 20%;
}
#btnLogin {
	width: 100%;
	height: 50px;
	background-color: #1D6154;
	color: white;
	border: none;
	border-radius: 25px;
	font-size: 18px;
	cursor: pointer;
}
.forgottenPassword {
	color: black;
}
.loginBold {
	font-weight: 700;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    height: 680px;
    z-index: 2;
}

.modal-content {
    width: 100%;
    height: 100%;
    background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.closeModal {
	
	position: absolute;
	top: 30px;
	right: 25px;
	width: 21px;
	height: 28px;
	font-size: 29px;
	cursor: pointer;
}

.titleModal {
	text-align: center;
	font-family: "Work Sans";
	color: black;
	font-weight: 200;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-shadow {
    background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
}
.work-itemModal {
	position: relative;
}
.work-imageModal {
	width: 70px;
	position: relative;
}
.worksContainerModal {
	width: 70%;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-content: center;
	border-bottom: 2px solid;
}
.delete-button {
	width: 20px;
	height: 20px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.iconeTrash {
	width: 4px;
	height: 12px;
	display: flex;
	justify-content: center;
}
.addwork-button {
	width: 230px;
    height: 47px;
    position: absolute;
    bottom: 60px;
    background-color: #1D6154;
    border: none;
    border-radius: 32px;
    color: white;
    font-size: 18px;
    font-family: "Syne";
	cursor: pointer;
}
.modaladdWorks {
	width: 630px;
    height: 680px;
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 2;
	background-color: white;
}
.modaladd-content {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.arrowRetournModal {
	font-size: 30px;
	cursor: pointer;
}
.return-arrow {
	position: absolute;
	left: 0;
	width: 90px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titleModalAdd {
	text-align: center;
    font-family: "Work Sans";
    color: black;
    font-weight: 200;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addform-content {
	width: 50px;
}
.form-content {
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 2px solid #B3B3B3;
}
.valid-form {
	height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imageWorks {
	width: 240px;
	height: 41px;
	display: none;
}
#nameWorks {
	width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0px 0px 14px -10px black;
	outline: none;
}
#categoryId {
	width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0px 0px 14px -10px black;
	outline: none;
}
.submit-button {
	width: 240px;
    height: 36px;
    border-radius: 18px;
	border: none;
	background-color: #A7A7A7;
	color: white;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}
.form-title {
	font-size: 15px;
	font-weight: 800;
}
.modal-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
}
.uploader-image {
	display: flex;
}
.loginError {
    width: 20%;
    height: 200px;
    background-color: transparent;
	border-radius: 25px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginError.error-state {
    background-color: white;
	box-shadow: 0px 0px 127px -68px black;
}
.xmark-icon {
	position: absolute;
	top: 15px;
	right: 20px;
	color: black;
	cursor: pointer;
}
.error-message {
	display: none;
    font-size: 20px;
}
.input-uploader {
	width: 420px;
	height: 204px;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}
.form-icon {
	width: 175px;
	height: 128px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imageformIcon {
	font-size: 96px;
	color: #B9C5CC;
}
.custom-upload-button {
	width: 225px;
    height: 47px;
    border-radius: 35px;
    font-size: 19px;
    font-weight: 600;
    color: #306685;
    background-color: #CBD6DC;
	cursor: pointer;
}
.infoaddImage {
	height: 25px;
    display: flex;
    align-items: center;
}
.preview-image {
	width: 100%;
}
.preview-container {
	width: 203px;
	height: 201px;
	display: none;
	position: absolute;
}
.delete-icon-preview {
	position: absolute;
    top: 6px;
    right: 10px;
    font-size: 22px;
}
.closeIconModal {
	width: 90px;
    height: 65px;
    display: flex;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
}
.closeModaladd {
	font-size: 30px;
}
.cross-icon {
	cursor: pointer;
	color: black;
}